/* SELFMADE */

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee !important;;
}

.dropdown-menu > li {
  text-decoration: none;
  background-color: #f5f5f5 !important;;
}

.theme-hover a:hover {
	color: #e0e0e0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #e0e0e0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #bdbdbd;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #eeeeee;
  color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #bdbdbd;
}

.navbar .navbar-toggle:hover .icon-bar {
  background-color: #9e9e9e;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #bdbdbd;
}

.header {
	margin: 0 auto;
	margin-top: -50px;
}

.registerbox {
	margin: 0 auto;
	width: 350px;
	padding: 19px;
	border: 1px solid #e7e7e7; 
}

.theme-input {
	color: #1fad5c;
}

.navbar-default .dropdown-menu {
	background-color: #f5f5f5;
	color: black;
}

.dropdown-menu .divider {
	background-color: #bdbdbd !important;
}

.panel-default {
	margin: 0 25%;
}

@media screen and (min-width: 900px) {
    .panel-default {
        margin: 0 30%;
    }
}

@media screen and (max-width: 500px) {
    .panel-default {
        margin: 0 6%;
    }
}

.theme-hr {
	margin: 25px 25%;
}

.capitalize {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.theme-flow {
	background-color: grey;
}

.center {
	text-align: center;
}

.commandToA a {
	padding: 12px 15px;
    font-size: 13px;
    font-weight: 300;
    display: block;
    clear: both;
    line-height: 1.4;
    white-space: nowrap;
    color: #1fad5c !important;
}

.commandToA :hover a {
	background-color: #eeeeee;
	text-decoration: inherit;
}
@media (max-width: 767px) {
	.commandToA a {
    	line-height: 21px;
   	    padding: 5px 15px 5px 25px;
    }
}
/*============================ CHART ============================*/
.chart {
  margin: 0 auto;
  width: 450px;
  height: 450px;
  position: relative;
}
.doughnutTip {
  position: absolute;
  float: left;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0,0,0,.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  transform: all .3s;
  pointer-events: none;
}
.doughnutTip:after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(0,0,0,.7);
  line-height: 0;
}
.doughnutSummary {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #d5d5d5;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}
.doughnutSummaryTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}
.doughnutSummaryNumber {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -15%;
  font-size: 48px;
}
.chart path:hover { 
  opacity: .65; 
}